<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bishe.mapper.AppealMapper">

    <resultMap id="BaseResultMap" type="com.example.bishe.model.entity.Appeal">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="CHAR"/>
            <result property="singleId" column="single_id" jdbcType="BIGINT"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,single_id,
        reason,state
    </sql>
</mapper>
