<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bishe.mapper.ColWorkMapper">

    <resultMap id="BaseResultMap" type="com.example.bishe.model.entity.ColWork">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="workerId" column="worker_id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="taskNumber" column="task_number" jdbcType="VARCHAR"/>
            <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="DECIMAL"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="need" column="need" jdbcType="INTEGER"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,worker_id,task_id,
        task_number,deadline,state,
        money,description,need,
        number,create_time,update_time
    </sql>
</mapper>
