<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bishe.mapper.SalaryMapper">

    <resultMap id="BaseResultMap" type="com.example.bishe.model.entity.Salary">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="workerId" column="worker_id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="workerNumber" column="worker_number" jdbcType="VARCHAR"/>
            <result property="workerName" column="worker_name" jdbcType="VARCHAR"/>
            <result property="taskNumber" column="task_number" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="DECIMAL"/>
            <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="payFundOrderId" column="pay_fund_order_id" jdbcType="VARCHAR"/>
            <result property="transDate" column="trans_date" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,worker_id,task_id,
        worker_number,worker_name,task_number,
        type,state,number,
        money,order_id,pay_fund_order_id,
        trans_date
    </sql>
</mapper>
